.vscode/
.tests/

objs/

*.o
*.a
*.out
*.pdf

cpp*/ex*/*_prog

cpp00/ex00/megaphone
cpp01/ex04/*.replace
cpp01/ex06/harlFilter
cpp05/ex0[2-3]/*_shrubbery
cpp06/ex00/convert
cpp09/ex00/btc
cpp09/ex01/RPN
cpp09/ex02/PmergeMe
